.filter {
  justify-content: space-between;
  display: flex;
  margin: 14px 0 20px 0;
}
.btnFilter {
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.search {
  display: flex;
  gap: 12px;
}
.filterList {
  gap: 36px;
  display: flex;
}
