.menu {
  display: flex;
  flex-direction: column; /* размещаем элементы к колонку */
  width: 240px;
  min-height: 100vh; /* на всю высоту экрана */
  position: fixed; /* чтобы меню было фиксированным */
  top: 0; /* прижимаем к верхнему */
  left: 0; /* .. и нижнему краю */
  background-color: #091336;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
.logo{
    padding: 23px 12px;
}
.nav{
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    // background: rgb(33, 34, 51);
}